// Importa variabili
@use '../assets/scss/partials/variables' as *;
// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap";
// Importa font 'Press Start 2P' da Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container-fluid {
    background-color: $gm-secondary; // colore di sfondo app
    padding-top: 10px; // fix del bordo superiore
    padding-bottom: 10px; // fix del bordo inferiore
    background-image: url('../../public/img/tetris-bg.png'); // immagine di backround di Tetris
    background-size: auto 50%;
    background-position: center;
    background-repeat: repeat-y;
}

.card,
.card_container {
    background-color: $gm-primary;
    overflow-y: scroll;

    .game_card {
        width: 150px;
        background-color: $gm-darker;
        color: $gm-secondary;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .placeholder_img {
        height: 150px;
    }

    .card_title {
        font-size: 0.8rem;
    }

    .icons svg {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    /* Media query per dispositivi dai 300px ai 767px */
    @media only screen and (max-width: 300px) {

        /* Imposta larghezza e margine laterale della game card */
        .game_card {
            width: calc(50% - 10px);
            margin-right: 10px;
            margin-bottom: 20px;
        }

        /* Imposta altezza del placeholder immagine */
        .placeholder_img {
            height: 100%;
        }

        /* Imposta font-size del titolo della card */
        .card_title {
            font-size: 1rem;
        }
    }

    /* Media query per dispositivi mobili */
    @media only screen and (min-width: 767px) {

        /* Imposta larghezza e margine laterale della game card */
        .game_card {
            width: 100%;
            margin: 0 0 20px 0;
        }

        /* Imposta altezza del placeholder immagine */
        .placeholder_img {
            height: 100%;
        }

        /* Imposta font-size del titolo della card */
        .card_title {
            font-size: 1rem;
        }
    }


    /* Media query per dispositivi di larghezza maggiore di 767px */
    @media only screen and (min-width: 768px) {

        /* Imposta larghezza della game card */
        .game_card {
            width: calc(33.33% - 20px);
            margin-right: 20px;
            margin-bottom: 20px;
        }
    }

    /* Media query per dispositivi di larghezza maggiore o uguale a 992px */
    @media only screen and (min-width: 992px) {

        /* Imposta larghezza della game card */
        .game_card {
            width: calc(25% - 20px);
        }
    }

    /* Media query per dispositivi di larghezza maggiore di 1023px */
    @media only screen and (min-width: 1024px) {

        /* Imposta larghezza della game card */
        .game_card {
            width: calc(25% - 20px);
        }
    }

    /*#region Label Icons */

    .icon_container {
        position: relative;
    }

    .icon_container .label {
        visibility: hidden;
        width: 100px;
        font-size: 0.5rem;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        top: -35px;
        left: 50%;
        margin-left: -50px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .icon_container:hover .label {
        visibility: visible;
        opacity: 1;
    }

    .icon_container:hover {
        cursor: pointer;
    }

    /*#endregion Label Icons */

}



// Utility

.color_dark {
    color: $gm-dark;
}

h5 {
    font-family: $gm-press-start;
    margin-top: 5px;
}