// Importa variabili
@use '../assets/scss/partials/variables' as *;
// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap";
// Importa font 'Press Start 2P' da Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container-fluid {
    background-color: $gm-secondary; // colore di sfondo app
    padding-top: 10px; // fix del bordo superiore
    padding-bottom: 10px; // fix del bordo inferiore
    background-image: url('../../public/img/tetris-bg.png'); // immagine di backround di Tetris
    background-size: auto 50%;
    background-position: center;
    background-repeat: repeat-y;
}

.card {
    background-color: $gm-primary;
}

// Utility

.color_dark {
    color: $gm-dark;
}

h5 {
    font-family: $gm-press-start;
    margin-top: 5px;
}